<h1 class="mt-5"> Sobre Comics App</h1>
<hr>
<p text-align="justify">DC Comics es una de las dos mayores compañías editoriales de cómics del mundo gracias a personajes como los renombrados superhéroes Batman, Superman, Linterna Verde y muchísimos más. Las aventuras de estos míticos superhéroes están disponibles tanto en formato comic book como novela gráfica. Y ahora, con la aplicación de DC Comics  podrás descargarte y disfrutar tanto de sus nuevas entregas semanales hasta de sus grandes clásicos. Tiene dos formas de lectura, la forma guiada, que te llevará viñeta a viñeta, o la clásica a página completa.</p>
<p text-align="justify">Marvel Comics La otra gran editorial estadounidense es la archiconocida Marvel Comics, con superhéroes como Spiderman, Hulk, Ironman, o los mutantes de la saga X-Men. Con su maravillosa aplicación para Android es posible tener todas sus viñetas al alcance de un solo clic, con una forma de lectura guiada o a página completa pudiendo hacer zoom donde más te interese. La aplicación crea un backup para que cuando lleguen  actualizaciones tus compras no se pierdan por el camino.</p>

<div class="card bg-dark text-white">
        <img src="assets/img/marvelydc.png" class="card-img" alt="...">
        <div class="card-img-overlay">
        
        </div>
</div>